<div class="user-container">

<h2>Gestión de Usuarios</h2>

<p-button
label="Nuevo Usuario"
icon="pi pi-plus"
styleClass="p-button-success"
(click)="nuevoUsuario()">
</p-button>


<p-table
[value]="usuarios"
styleClass="p-datatable-striped">

<ng-template pTemplate="header">

<tr>
<th>ID</th>
<th>Nombre</th>
<th>Email</th>
<th>Permisos</th>
<th>Acciones</th>
</tr>

</ng-template>

<ng-template pTemplate="body" let-user>

<tr>

<td>{{user.id}}</td>

<td>{{user.nombre}}</td>

<td>{{user.email}}</td>

<td>

<p-tag
*ngFor="let permiso of user.permisos"
[value]="permiso"
severity="info"
styleClass="mr-1">
</p-tag>

</td>

<td class="actions">

<button
pButton
icon="pi pi-pencil"
class="p-button-info p-button-sm"
(click)="editarUsuario(user)">
</button>

<button
pButton
icon="pi pi-trash"
class="p-button-danger p-button-sm"
(click)="eliminarUsuario(user.id)">
</button>

</td>

</tr>

</ng-template>

</p-table>

</div>


<p-dialog
header="Usuario"
[(visible)]="mostrarDialogo"
[modal]="true"
[style]="{width:'450px'}">

<div class="field">

<label>Nombre</label>

<input
pInputText
[(ngModel)]="usuarioSeleccionado.nombre"
class="w-full">

</div>

<div class="field">

<label>Email</label>

<input
pInputText
[(ngModel)]="usuarioSeleccionado.email"
class="w-full">

</div>

<div class="field">

<label>Permisos</label>

<div class="permisos">

<div *ngFor="let permiso of permisosDisponibles">

<p-checkbox
[name]="permiso"
[value]="permiso"
[(ngModel)]="usuarioSeleccionado.permisos">
</p-checkbox>

<label>{{permiso}}</label>

</div>

</div>

</div>

<div class="dialog-actions">

<p-button
label="Cancelar"
class="p-button-text"
(click)="mostrarDialogo=false">
</p-button>

<p-button
label="Guardar"
icon="pi pi-check"
styleClass="p-button-success"
(click)="guardarUsuario()">
</p-button>

</div>

</p-dialog>