.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f9;
}

.auth-card {
  width: 100%;
  max-width: 480px;
}

label {
  font-weight: 600;
}

.p-error {
  font-size: 0.8rem;
}